body {
  margin: 0;
}

/*Gallery Page*/

.img-banner {
  width: 100%;
  height: 350px;
}

.gallery-banner-content {
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 350px;
  top: 70px;
  margin-bottom: 5%;
}

.recent-works {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8%;
}

.fields-works .first-img {
  margin-left: 5%;
}
.fields-works .second-img {
  margin-left: 9%;
}

.portrait-text {
  margin-top: -2%;
  margin-left: 28%;
}

.photography-text {
  margin-top: -3.2%;
  margin-left: 68%;
}

@media screen and (max-width: 700px) {
  .gallery-banner-content {
    padding-top: 40px;
  }
  .recent-works {
    flex-direction: column;
  }
  .fields-works .second-img {
    margin-left: 5%;
    margin-top: 5%;
  }

  .portrait-text {
    margin-top: -100%;
    margin-left: 55%;
  }

  .photography-text {
    margin-top: 80%;
    margin-left: 55%;
  }
}
